<div class="main">
    <div class="signup">
        <img src="../../../assets/bharatlaw.svg" alt="">
        <h4>Create your Account</h4>
        <form action="" [formGroup]="signUpForm">
            <input type="text" placeholder="First Name" formControlName="firstName">
            <small *ngIf="signUpForm.controls['firstName'].dirty  && signUpForm.hasError('required', 'firstName')" style="color: red;">*First name is required</small>
            <input type="text" placeholder="Last Name" formControlName="lastName">
            <small *ngIf="signUpForm.controls['lastName'].dirty  && signUpForm.hasError('required', 'lastName')" style="color: red;">*Last name is required</small>
            <input type="text" placeholder="User Name" formControlName="userName">
          <small *ngIf="signUpForm.controls['userName'].dirty  && signUpForm.hasError('required', 'userName')" style="color: red;">*Username is required</small>
         
          <input type="number" placeholder="Contact Details" formControlName="contactdetails">
          <small *ngIf="signUpForm.controls['contactdetails'].dirty  && signUpForm.hasError('required', 'contactdetails')" style="color: red;">*contactdetails is required</small>
          <input type="email" placeholder="Email address" formControlName="email">
          <small *ngIf="signUpForm.controls['email'].dirty  && signUpForm.hasError('required', 'email')" style="color: red;">*email is required</small>
          <input type="password" placeholder="Password" formControlName="password">
          <small *ngIf="signUpForm.controls['password'].dirty  && signUpForm.hasError('required', 'password')" style="color: red;">*password is required</small>
          <!-- <select name="designation" formControlName="designation">
              <option value="Designation">Designation</option>
              <option value="Designation">Designation</option>
              <option value="Designation">Designation</option>
          </select> -->
          <button type="submit" (click)="onSubmit()">Continue</button>
      </form>
      <p>Already have an account?  <span><a  routerLink="/user-login">Login</a></span></p>
    </div>
  <p style="text-align: center;">Terms of use    |    Privacy Policy</p>
  </div>