<div class="login">
    <div class="main">
        <img src="../../../assets/bharatlaw.svg" alt="">
        <h3>Welcome Back</h3>
        <form action="" [formGroup]="loginForm">
        <input type="text" placeholder="Username"  formControlName="userName">
        <small *ngIf="loginForm.controls['userName'].dirty  && loginForm.hasError('required', 'userName')" style="color: red;">*Username is required</small>
        <input type="password" placeholder="Password"  formControlName="password">
        <small *ngIf="loginForm.controls['password'].dirty  && loginForm.hasError('required', 'password')" style="color: red;">*Password is required</small>
        <p>Forgot Password ? <a (click)="navigateToResetPassword()">Reset Password</a></p>
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
        <button (click)="onSubmit()" type="submit">Log in</button>
        <p>Don't have an account ? <span><a (click)="navigateToRegistration()">Sign up</a></span></p>
        <p>OR</p>
        <div class="google">
            <img class="logo" src="../../assets/googleLogo.png" alt="">

            <span>Continue with google</span>
        </div>
    </form>
</div>
<p>Terms of use | Privacy Policy</p>
</div>